
.topnav{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}


.topnav .links{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(229, 233, 242);
    border-top: 1px solid rgb(229, 233, 242);
  

}
.topnav .links .vertical_line{
    /* border-right: 1px solid rgb(229, 233, 242); */
   
}


.topnav .links a{
    color: black;
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 15px;
    font-family: cursive;
  
}

li{
    list-style: none;
    display: inline;
    border-left: 10px black;

}
.topnav i{
    margin-left: 15px;
}

.topnav .search{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    

}
.topnav .search{
  padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: space-around;

}

.topnav .search .logo img {
  width: 60px;
    
}
.topnav .search button{
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 20px;
    
}
.topnav .search button i{
    font-size: 15px;
    color: #444;
    margin-right: 700px;
}
.topnav .search i{
    font-size: 30px;
    transform: rotatey(-180deg);
}

/* start slider */

.slides {
    width: 600px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 100px;
}
.slidesContainer {
  width: 2400px;
  animation: slide 8s ease infinite;
}
.slides .slide {
  width: 600px;
  height: 300px;
  float: left;
}
@keyframes slide {
  15% {
    margin-left: 0px;
  }
  30% {
    margin-left: 0px;
  }
  45% {
    margin-left: -600px;
  }
  60% {
    margin-left: -600px;
  }
  75% {
    margin-left: -1200px;
  }
  90% {
    margin-left: -1200px;
  }
  105% {
    margin-left: -1800px;
  }
  120% {
    margin-left: -1800px;
  }
  135% {
    margin-left: 0px;
  }
}
  
/* end slider */

/* start footer */
.footer_container1{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: row;
    gap: 80px;
   justify-content: space-around;
   flex-flow: row-reverse;
   text-align: right;
   padding-bottom: 30px;
}
/*  */
.footer_container1 a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 13px;
  

}
.footer_container1 a:active{
    color: blue;

}
.footer_container1 .col1 .subscribe form{
    background-color: rgb(107, 107, 106);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}
.footer_container1 .col1 .social-media{
   
    color:white;
}
.footer_container1 .col1 .social-media img{
    margin-left: 15px;
    max-width: 20px;
}
.footer_container1 .col1 .social-media i:hover{
    color: #444;
}
form input{
    border-radius: 10px;
    padding: 10px;
    border: none;

}
form button{
   font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 40%;

}
.footer_container2{
    background-color: rgb(224, 225, 226);
    margin-top: -20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: space-between;
    gap: 3%;
}


.footer_container2  .brand_links{
    display: flex;
    flex-direction: row;
    gap: 5px;
   width: 70%;
    justify-content: space-around;

}
.footer_container2  .brand_links img{
    width: 10%;
    height: 50%;
    margin-top: auto;
}

.footer_container2 .copy_right{
    width: 50%;
    text-align: left;
    padding-left: 10px;

}
.copy_right a{
    text-decoration: none;
    color: black;
}
   
/* end footer */


